.name {
  text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
  position: relative;
  text-align: center;
  left: -20px;
  top: 60px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  color: white;
}
.box-1 {
  position: relative;
  background-color: rgb(150, 179, 231);
  box-sizing: border-box;
  border-radius: 20px 10px 15px 5px;
  height: 150px;
  width: 1600px;
  left: -16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px inset;
}
.btn-outline-success {
  position: absolute;
  left: 160px;
}
.card {
  position: relative;
  left: 80px;
  top: 65px;
}
.img-1 {
  position: relative;
  padding-left: 110px;
  top: -25px;
}
.card-text {
  position: relative;
}
.introduction {
  position: relative;
  left: 660px;
  padding-top: 60px;
}
.introduction-2 {
  position: relative;
  left: 720px;
  top: -50px;
}
.introduction-3 {
  position: relative;
  left: 780px;
  top: -93px;
}
.card-text-2 {
  position: relative;
  left: 490px;
  top: -180px;
  color: white;
}
.card-text-3 {
  position: relative;
  left: 960px;
  top: -480px;
  color: white;
}
.img-2 {
  position: relative;
  padding-left: 100px;
  top: -50px;
}
.card-title-3 {
  position: relative;
  top: -30px;
}
.introduction-4 {
  position: relative;
  top: -140px;
  left: 840px;
}
